.coin-container {
    display: flex;
    justify-content: center;
    
}
  
.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 820px  ; 
}



.coin {
  display: flex;
  align-items: center ;
  width: 200px ;
}

.coin > img {
  width: 30px ;
  margin-right: .5rem ;
}

.coin > h1 {
  font-size: 1rem ;
  margin-right: .5rem ;
}

.coin-data {
  display: flex;

}

.coin-data > p {
  margin: 0 1rem ;
}
  

@media only screen and (max-width: 820px ) {
  .coin-row {
     width: 100% ;
     justify-content: center ;
  }
  .coin-symbol {
    display: none ;
  }
  .coin {
    width: 150px ;
  }
}

@media only screen and (max-width: 740px ) {
  .coin-marketcap {
     display: none;
  }
  .coin-row {
    margin-left: 1.5rem ;
    justify-content: start;
 }
 .coin {
  width: 100px ;
}

 .coin > h1 {
  font-size: .5rem ;
  margin-right: .5rem ;
}
.coin-volume {
  display: none ;
}

  
}